* {
    font-family: Open sans, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-color: #111;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #222;
}

.video-container {
    background-color: #000;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videoTitle {
    font-weight: bold;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
}

#videoDescription {
    margin: 15px 0px 15px 0px;
    font-size: 0.9rem;
    color: #999999;
}

#animeInfoContainer {
    background-color: #222222;
    padding: 0px 20px 0px 20px;
}

#animeInfoContainer span[id=subordub] {
    text-transform: uppercase;
}

#animeInfoContainer span[id=status] {
    background-color: coral;
}

#animeInfoContainer span {
    background-color: #333333;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 2px;
    font-size: 0.8rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .video-title {
        font-size: 1rem;
    }
}

.container-search {
    display: flex;
    align-items: center;
    background-color: #222222;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.search-input {
    background-color: #333333;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    flex: 1;
    border-radius: 5px;

}

.search-button {
    background-color: #32B4FE;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.home-button {
    background-color: coral;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.container-search svg {
    width: 18px;
    height: 18px;
    transform: scale(1.3);
}

.errorLine {
    display: flex;
    color: #fff;
    font-size: 0.7rem;
    padding: 5px 10px;
    background-color: #111;
    justify-content: center;
}

.errorLine a {
    color: #ccc;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {}

.select-container {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}

.left-text {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

#selectElement {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    appearance: none;
    flex-grow: 1;
    margin-right: 10px;
}

#episodeButton {
    padding: 10px 20px;
    background-color: #32B4FE;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

#resultContainer {
    flex-direction: column;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
}

#resultContainer .row {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #444;
    padding: 10px 10px;
    vertical-align: top;
    cursor: pointer;
    background-color: #222222;
}

#resultContainer .subDir {
    display: flex;
    background-color: #32B4FE;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    width: 50px;
    height: 20px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultContainer .dubDir {
    display: flex;
    background-color: coral;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    width: 50px;
    height: 20px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resultContainer #releaseYear {
    font-size: 0.8rem;
    color: #999999;
    width: 10%;
    text-align: right;
}

#resultContainer #tableName {
    width: 80%;
    text-align: left;
    padding-left: 10px;
}

.fastsearchrow {
    display: flex;
    border-bottom: 1px solid #444;
    padding: 10px 30px;
    vertical-align: top;
    cursor: pointer;
    background-color: #222222;
}

.fastsearchrow a {
    color: #fff;
    text-decoration: none;
}

.fastsearchnotif {
    padding: 10px 50px 20px 50px;
    color: #999999;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1.titleBig {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 50px 20px 40px 20px;
    text-align: center;
}

#resultContainer .row:nth-child(even), .fastsearchrow:nth-child(even) {
    background-color: #111;
}

#qualityContainer {
    display: inline;
    width: 100%;
    margin-bottom: 10px;
}

#qualityContainer span {
    padding: 0px;
    margin-right: 10px;
    background: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

.pill-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-size: 0.8rem;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
}

#downloadButton {
    background-color: rgb(70, 79, 60);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    padding: 5px 15px;
    font-size: 0.8rem;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    cursor: pointer;
    display: inline;
}

#serverSelect {
    display: inline;
}

#mainLoading {
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 20px 0px;
}

.modern-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 0.7rem;
}

.notif {
    background-color: #2E3829;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    font-size: 0.7rem;
    border-top: 1px solid #6A9169;
    border-bottom: 1px solid #6A9169;
}

.notif a {
    text-decoration: none;
    background-color: #6A9169;
    color: #2E3829;
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.modern-footer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 5px;
    cursor: pointer;
}

.counterDiv {
    background-color: rgb(16, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0px 0px 0px;
}

.counterDiv img {
    filter: invert();
    transform: scale(0.3);
}

.recent-button {
    background-color: #1d1d1d;
    color: #fff;
    font-weight: bold;
    border: 0;
    width: 100%;
    padding: 20px 20px;
}

img {
    display: none;
}

.container img {
    display: block !important;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
    background-color: #222222;
    color: #fff;

}

.app-container a {
    display: block;
    background-color: #32B4FE;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

.app-container a#windows {
    background-color: #6A9169;
}

.app-container a:hover {
    opacity: 0.9;
}

.app-container span {
    margin: 20px 30px 0px 30px;
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.extraBtn {
    display: flex;
    justify-content: space-around;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.extraBtn button {
    flex: 1;
    padding: 0.3rem;
    background-color: #333;
    color: #fff;
    border: 0;
    border-radius: 30px;
    height: 30px;
    cursor: pointer;
}

#dim {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
}


.history {
    position: absolute;
    background-color: #222;
    max-width: 480px;
    margin: 0px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 3px 3px 3px #111;
}

.historyHead {
    display: flex;
    margin-bottom: 10px;
}

.historyHead h3 {
    flex: 1;
}

.historyHead button {
    background-color: #6A9169;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
}

.historyList {
    list-style: '- ';
    padding-left: 20px;
}

.historyList .date {
    color: #8B8B8B;
    font-size: small;
}

.historyList a {
    color: #ccc;
    text-decoration: none;
}


.historyList a:hover {
    color: #fff;
}

p.historyDetail {
    color: #b7b7b7;
    padding: 10px 0px;
    font-size: small;
}

p.historyDetail a {
    color: #fff;
    cursor: pointer;
}