::selection {
    background-color: rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, .background {
    height: 100%;
}

html {
    font-family: Arial;
}

.background {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: -1;
    width: 100%;
    background-color: #222;
    filter: saturate(100%);
}

section section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10rem);
    -webkit-backdrop-filter: blur(10rem);
}

.rectangle {
    flex-grow: 1;
    border-style: none;
    min-width: 25%;
    min-height: 10%;
    background-color: #222;
    transition-property: background-color;
}

main, header, div, ul, li {
    /*
    outline-style: solid;
    outline-color: #000;
    background-color: #222;
  */
}

main {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto auto;
    padding: 1rem 1rem 4rem 1rem;
    color: #eee;
}

header, .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2rem;
}

.logo {
    font-size: 3rem;
}

.info {
    width: 12rem;
}

.pipe {
    transform: scaleY(1.25);
}


ul {
    padding-right: 3rem;
    list-style-type: none;
}

li {
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    text-transform: capitalize;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.25s;
}

li span {
    opacity: 0.75;
    font-size: 0.9rem;
    text-transform: none;
}

.selected, .selected:hover {
    background-color: #eee;
    color: #222;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

li:active {
    background-color: rgba(0, 0, 0, 0.75);
    transition-duration: 0s;
}

.channels {
    display: grid;
    grid-template-columns: repeat(5, 19.333%);
    grid-gap: 2rem 1rem;
    padding-right: 1.5rem;
}

.channels .animelist {
    border-radius: 0.25rem;
    aspect-ratio: 6/9;
    max-height: 350px;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    transition: 0.5s ease;
}

.overlay {
    position: absolute;
    background-color: #000;
    padding: 20px;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8;
    border-radius: 0.25rem;
}

.content {
    z-index: 1;
    position: absolute;
    padding: 0.3rem;
    bottom: 0;
}


.channels .animelist::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 0.5rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.07, 1.05);
}

.channels .animelist:hover :nth-child(1) {
    opacity: 0;
}

.channels .animelist:hover :nth-child(2) {
    opacity: 0;
}

.channels .animelist:hover::before {
    background-color: rgba(0, 0, 0, 0.25);
}

.channels .animelist:active {
    transform: scale(0.9);
}



@media(max-width: 1200px) {
    main {
        grid-template-columns: 100%;
    }

    .menu {
        display: none;
    }

    .channels {
        padding-left: 2rem;
    }
}

@media(max-width: 800px) {
    .channels {
        grid-template-columns: auto auto;
    }
}

@media(max-width: 550px) {
    header {
        flex-direction: column;
    }

    .logo {
        margin-right: auto;
    }

    .info {
        width: 100%;
    }

    .pipe {
        display: none;
    }

    .options {
        position: relative;
        right: 1.25rem;
        margin-left: auto;
    }

    .channels {
        grid-template-columns: auto;
    }
}